@{
    var msg = "hello World";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@msg</title>
</head>
<body>
    <div>
        @msg
    </div>
</body>
</html>
